<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="row">
  <div class="col-12 col-md-5 col-lg-4 col-xl-3" id="profile">
    <div class="text-center">
      <img src="lib/fontawesome/svgs/solid/user.svg" alt="Profile picture"
        class="img-thumbnail rounded-circle bg-light mt-3 mb-3" id="profile-pic"/>
      <div id="username-container"></div>
      <div id="profile-xp"></div>
      <div id="profile-level"></div>
      <div class="btn-group">
        <button id="settings" class="btn btn-primary" onclick="new SettingsView()">
          <span class="fas fa-cogs"></span>
        </button>
        <button id="logout" class="btn btn-primary">
          <span class="fas fa-power-off"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="col" id="content"></div>
</div>
