<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="container p-2">
  <button class="btn btn-outline-secondary" onclick="new TasksView()" id="back">
    <span class="fa fa-arrow-left"></span>
    Zurück
  </button>

  <div class="row mt-3 mb-3">
    <div class="col">
      <h1>Aufgabe erledigen</h1>
      <strong id="task-name"></strong>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h2>Erledigt durch:</h2>
      <input type="text" name="user-search" placeholder="Benutzer suchen..." class="form-control">
      <div id="user-container"></div>
    </div>
    <div class="col-12 col-lg-6">
      <h2>Bonus:</h2>
      <input type="text" name="bonus-search" placeholder="Bonus suchen..." class="form-control">
      <div id="bonus-container">
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col text-right">
      <input type="checkbox" id="archive-task" name="archive-task">
      <label for="archive-task">Aufgabe archivieren</label>
      <button class="btn btn-primary" id="save">
        <span class="fa fa-save"></span>
        Speichern
      </button>
    </div>
  </div>

</div>
